html, body {
    padding: 0px;
    margin: 0px;
    background: linear-gradient(rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url("images/background-body.jpg");
    background-size: cover;
}
#spotlight-frame {
    width: 100%;
    height: 300px;
    background-color: green;
    background: linear-gradient(-45deg, rgba(219,157,0,0.3) 0%,rgba(0,146,214,0.3) 100%), url("images/site-bg.jpg");
    background-size: cover;
    background-position: center;
}
#mobile-menu {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,15, 0.8);
    z-index: 9;
    position: absolute;
    padding-top: 10px;
    left: -100%;
}
#mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 90%;
    margin-left: 15px;
    border-bottom: 1px solid #6b6b6b;
}
#mobile-menu p {
    font-size: 35px;
    color: #a0a0a0;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    margin-left: 15px;
    font-weight: 300;
    display: inline;
    padding: 0px;
}
#mobile-menu hr {
    background-color: #6b6b6b;
    border: none;
    height: 1px;
    padding: 0px;
    margin-bottom: 10px;
}
#mm-exit {
    width: 30px;
    height: 30px;
    background-image: url(images/mm-exit.png);
    background-size: cover;
    float: right;
    display: inline;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}
#mm-button {
    width: 50px;
    height: 50px;
    background-image: url(images/mm-img.png);
    border: 1px orange solid;
    border-radius: 4px;
    background-size: cover;
    display: none;
    float: left;
    position: absolute;
    left: 8px;
    cursor: pointer;
    transition: 0.2s;
}
nav {
    width: 100%;
    background-color: white;
    height: 65px;
    padding-top: 15px;
    border-bottom: 3px solid #FFA800;
}
#nav-inner {
    width: 1024px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    text-align: right;
}
#nav-inner img {
    height: 50px;
    width: 200px;
    float: left;
}
#nav-inner a {
    padding-right: 20px;
    color: #00aaff;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    transition: 0.2s;
    font-size: 16px;
}
#nav-inner a:hover {
    background-color: #00aaff;
    border-radius: 3px;
    color: white;
}
#nav-inner a.logo:hover{
    background-color:#FFFFFF;
}
#spotlight-inner {
    width: 1024px;
    height: 140px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-right: auto;
    text-align: center;
    margin-left:auto;
}
#spotlight-inner h1 {
    font-size: 35px;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Cinzel', serif;
}
#spotlight-inner h2 {
    font-size: 18px;
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
#content-wrapper {
    width: 1024px;
    height: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#left-column {
    width: 630px;
    height: auto;
    padding: 15px;
    float: left;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
}
#left-column h1{
    font-family: 'Open Sans', sans-serif;
    color: #00aaff;
    padding: 0px;
    margin: 0px;
    font-size: 23px;
}
#left-column h2{
    font-family: 'Lora', serif;
    color: black;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    display: inline;
}
#left-column h3{
    font-family: 'Open Sans', serif;
    color: #FFA800;
    padding-left: 8px;
    margin: 0px;
    font-size: 12px;
    display: inline;
}
#left-column p{
    font-family: 'Lora', sans-serif;
    color: black;
    margin: 0px;
    font-size: 15px;
    padding-bottom: 25px;
    padding-top: 8px;
}
#left-column hr {
    background-color: #dddddd;
    height: 1px;
    border: none;
    margin-top: 3px;
    margin-bottom: 20px;
}
#left-column form{
  margin: auto;
  position: relative;
  width: auto;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  color: #00aaff;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;  
}

#left-column input[type=date]{
  width: auto;
  display: inline;
  outline: none; 
}
#left-column input[type=radio] {
  width: auto;
  display: inline;
  outline: none;
}
#left-column input[type=submit] {
  width: auto;
  display: inline;
  float: right;
  margin: 1em;
  outline: none;
}
#left-column input[type=button] {
  width: auto;
  display: inline;
  float: right;
  margin: 1em;
  outline: none;
}
#left-column input[type=reset] {
  width: auto;
  display: inline;
  float: right;
  margin:1em;
  outline: none;
}
#phoneErrMsg{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 0.8em;
}
#DonationMsg{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 0.8em;
}
#addressErrMsg{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 0.8em;
}
#nameErrMsg{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 0.8em;
  display:inline;
}

#left-column input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#lef-column >input.kidname1{
  width: 375px;             
  display: inline;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
 }

fieldset{
    margin:0;
    padding:0;
}
#memberHelp  > ul li{
    display: block; 
    margin:0;
    padding:0;
    list-style-type: none
}
form ul li { 
    display: inline; 
    margin:0;
    padding:0;
    list-style-type: none
}

input:focus:invalid {
  outline: 1px dashed red;
}
input:focus:invalid {
  color: red;
}
input:valid{
    outline: 1px solid green;
}

#facebook-feed {
    width: 340px;
    height: auto;
    float: right;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
}
#footer {
    width: 100%;
    height: 50px;
    background-color: #141414;
}
#footer-inner {
    width: 1024px;
    height: auto;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto; 
}
#footer-inner p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #a8a8a8;
    padding: 0px;
    display: inline;
}
#footer-inner button {
    font-size: 26px;
    width: 35px;
    float: right;
    font-weight: 700;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFA800;
    transition: 0.2s;
}
#footer-inner button:hover {
    background-color: #00aaff;
    color: white;
}


@media only screen and (max-width: 1050px){
    nav {
        height: 55px;
        padding-top: 5px;
    }
    #mm-button {
        display: inline-block;
    }
    #nav-inner {
        width: 100%;
        text-align: center;
    }
    #nav-inner img {
        height: 40px;
        width: 170px;
        float: none;
        padding-top: 5px;
    }
    #spotlight-inner {
        width: 80%;
    }
    #spotlight-inner h1 {
        font-size: 48px;
    }
    #spotlight-inner h2 {
        font-size: 20px;
    }
    #nav-inner a {
        display: none;
    }
    #left-column {
        width: 90%;
        float: inherit;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    #facebook-feed {
        display: none;
    }
    #content-wrapper {
        width: 100%;
    }
    #footer-inner {
        width: 90%;
    }
}


@media only screen and (max-width: 600px) {
    #footer{
        display: none;
    }
        #spotlight-inner h1 {
        font-size: 38px;
    }
    #spotlight-inner h2 {
        font-size: 18px;
    }
    #spotlight-inner button {
        font-size: 12px;
    }
}
